<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:enableOnBackInvokedCallback="true">

        <!--
            Opt-in to 16KB page-size compatibility mode on Android 15+.
            Required because peekaboo-image-picker 0.5.2 bundles libimage_processing_util_jni.so
            which is only 4KB-aligned. Remove once Peekaboo ships a 16KB-aligned build.
            See: https://developer.android.com/guide/practices/page-sizes
        -->
        <property
            android:name="android.allow_non_16k_pages"
            android:value="true" />
        <activity
            android:exported="true"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>